<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="/css/abot.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<form action="/aboutme" method="post">

      <nav>
            <div class="digit">
                <p class="digit-name">เกี่ยวกับเรา</p>   
            </div>
                <div class="logo-zero">
                    <a href="/member">ZERO VAGLOCAL</a>
                </div>
      </nav>      <br>
                  <br>
            <div class="container">
                  <div class="l1">
                        <div class="l2"><h2>Zero VegeLocal</h2>
                              <p>ดำเนินธุรกิจจัดจำหน่ายผักสดปลอดสารพิษ 
                                    สินค้าของเราทุกชิ้นมั่นใจได้ว่ามีมาตรฐานตรงตามความต้องการของผู้ประกอบอาหาร
                                    และจัดจำหน่ายในราคายุติธรรม ตลอดจนให้บริการจัดส่งสินค้าถึงที่อย่างปลอดภัยและตรงเวลา</p>
                        </div>
                        <br><br>
                        <div class="l3">
                              <h2>Zero VegeLocal</h2>
                              <p> ภายใต้แนนวคิดโดยการใช้เทคโนโลยีเพื่อสนับสนุนการให้บริการแก่ลูกค้าและมีคุณภาพเพื่อให้
                                    ลูกค้าของเรานั้นได้ผักที่สะอาดปลอดภัยโดยทางเราให้บริการส่งสินค้าฟรีทั่วประเทศ</p>
                        </div>
                  </div>
                  
                  <div class="i1">
                        <div class="i2">
                              <p>เบอร์มือถือ</p>
                              <p>เบอร์มือถือ</p>
                              <p>เบอร์มือถือ</p>
                              <p>เบอร์มือถือ</p>
                              <p>เบอร์มือถือ</p>
                        </div>
                  </div>
                  
            </div>
            <div>
            <div class="o1">
                  <div class="o2">
                        <h2>Contact. ✡</h2>
                  </div>
            </div>
            <br>
            <div class="icons">
                      <i class= "fa-brands fa-line"><p style="font-size: 1.2rew;">aaaa</p></i>
                  </div>
                  <br>
                  <div>
                       <i class="fa-brands fa-facebook"><p style="font-size: 1.2rew;">aaaa</p></i>
                  </div>
                  <br>
                  <div>
                        <i class="fa-brands fa-youtube"><p style="font-size: 1.2rew;">aaaa</p></i>
                  </div>
                  
                  </div>
                  <div class="v1">
                        <div class="v2">
                              <h2>𝑻𝒉𝒂𝒏𝒌𝒚𝒐𝒖 ❣</h2>
                        </div>
                  </div>
                  
            </div>
                  <div class="color">
                        <p></p>
                  </div>
       </form>
</body>
</html>