<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/form.css">
</head>

<body>

<form action = "/login" method="post">
    <div class="form">
        <h1 class="headi">Welcom To Zeroveglocal</h1>
        <h1 class="heading"> Login</h1>
        <input type="username" name="username" placeholder="ผู้ใช้งาน:" autocomplete="off"  class="username" required>
        
        
        <input type="password" 
        placeholder="รหัสผ่าน:" autocomplete="off" class="password" name="password" required>
        <button class="submit-btn">Login</button>
        
        <a href="/register">ลงทะเบียน</a>
        
    </div>
        
        <div class="mb-3 text-danger">
            {{msg}}
            
    </div>
    </form>
    
    
</body>
</html>