<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ประวัติการซื้อ</title>
    <link rel="stylesheet" href="/css/d3.css">
   
</head>
<body background="423105964_732425842200356_3953209386187583408_n.jpg">
    <form action="/payment" method=post>
    <nav>
        <div class="logo">
            <a> ชำระเงิน </a>
        </div>
       
        <div class="menu">
            <a href="d1.html">ZERO VEGLOCAL</a>
        </div>
    </nav>
    <br>
    <div class="container">
        <div class="at">
            <a >ที่อยู่</a>
           
            
            <br>
            <br>
          
            <input type="text" id="userInput" class="custom-input1" style="font-size: 1.2vw;" placeholder="ชื่อ-นามสกุล">
            <br>
          
            <input type="text" id="userInput" class="custom-input1" style="font-size: 1.2vw;" placeholder="บ้านเลขที่">
          
        </div>
        <div class="at1">
            <a>ช่องทางชำระเงิน</a>
            
             <br><br><br>
            <div class="at2">
            <a href="ชำระเงินปลายทาง.html">ชำระเงินปลายทาง</a>
            <br>
            
            
                <a href="ชำระออนไลน์ด้วยบัตรเครดิต.html">ชำระออนไลน์ด้วยบัตรเครดิต</a>
           
         </div>
        </div>
    </div>
    <br>
    
    <div class="container">
         <div class="B">
          <a href="#">เบอร์โทรศัพท์มือถือ</a>
          <br>
         <br>
          <input type="text" id="userInput" class="custom-input" style="font-size: 1.2vw;" placeholder="เบอร์โทรศัพท์มือถือ">
         </div>
         <div class="at3">
            <a href="ชำระเงินผ่านแอปธนาคาร.html">ชำระเงินผ่านแอปธนาคาร</a>
            <br>
            <a href="QR พร้อมแพย์.html">QR พร้อมแพย์</a>
            <br>
            <a href="ทรูมันนี่ วอลเล็ต.html">ทรูมันนี่ วอลเล็ต</a>
         </div>
    </div>     
    
    </form>
</body>
</html>