<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ประวัติการซื้อ</title>
    <link rel="stylesheet" href="/css/d3.css">
</head>
<body class="body-1" background="423105964_732425842200356_3953209386187583408_n.jpg">
    <nav>
        <div class="logo">
            <i class="fa-solid fa-money-bill-1-wave"></i>
            <a> ชำระเงิน </a>
        </div>
        <div class="menu">
            <a href="home.html">ZERO VEGLOCAL</a>
        </div>
    </nav>
    <br><br>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="container">
            <div class="at">
                <a>ที่อยู่</a>
                <br><br>
                <input type="text" class="custom-input1" style="font-size: 1vw;" placeholder="ชื่อ-นามสกุล">
                <br>
                <input type="text" class="custom-input1" style="font-size: 1vw;" placeholder="บ้านเลขที่">
            </div>
            <div class="at1">
                <a>ช่องทางชำระเงิน</a>
                <br><br><br>
                <div class="image-container">
                    <img src="369328806_313759751114261_5680671488271726477_n.png">
                </div>
            </div>
        </div>
        <br>
        <div class="container1">
            <div class="B">
                <a href="#">เบอร์โทรศัพท์มือถือ</a>
                <br><br>
                <input type="text" class="custom-input" style="font-size: 1vw;" placeholder="เบอร์โทรศัพท์มือถือ">
            </div>
            <div class="at3">
                <form class="a4" id="imageForm">
                    <input type="file" id="imageInput" name="bank" accept="image/*">
                    <button type="submit">อัพโหลดรูปภาพ</button>
                </form>
            </div>
        </div>
    </form>
</body>
</html>
