<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/rei.css">
</head>
<body>
    <form action="/register" method="post">
    <div class="form">
        <h1 class="heading"> Register</h1>
        
        <input type="name" placeholder="ชื่อ:" autocomplete="off" class="name" name="name"
        required>
        <input type="lastname" placeholder="สกุล:" autocomplete="off"class="lastname" name="lastname"required>
        <input type="email" placeholder="อีเมล:" autocomplete="off" class="email"name="email" required>
        <input type="username" placeholder="ชื่อผู้ใช้งาน:" autocomplete="off" class="username"name="username" required>
        <input type="password" placeholder="รหัสผ่าน:" autocomplete="off"class="password" name="password"required>
       
        
       
       
       
       <button class="submit-btn">สมัครสมาชิก</button><br>
       <br><br>
       <a href="/login"class="link" >เข้าสู่ระบบ</a>
    </div>
    
    
</body>
</html>