*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
  }
    
  nav {
      width: 100%;
      height: 5vw;
      background: linear-gradient(125deg,#66733B,#F1F1F1);
      text-decoration: none;
      display: flex; 
      justify-content: space-between;
      align-items: center;
  }
    
  .body {
      background: linear-gradient(125deg,#FFF4E5,#FFFFFF);
  }
    
  .digit {
      font-size: 2rem;
      margin: 10px;
      padding: 1px;
      display: flex;
    
  }
    
    
  .digit-name {
    
      color: #F1F1F1;
      padding: auto;
      margin-bottom: 10px;
      font-size: 2vw;
  }
    
  .logo-zero {
    
      padding: 1rem;
    
  }
    
  .logo-zero a {
      color: black;
      font-size: 2vw; 
  }
  .container{
      
      display: flex;
      justify-content:space-between;
      margin: 10px;
      width: 90%;
      margin: auto;
  }
  
  .l1{
      width: 40%;
      display: flex;
      flex-direction: column;
  }
  /* .l2{
      
  } */
  .l2 p{
      
      font-size: 1vw;
      border: 2px solid #080908;
      border-radius: 12px;
      padding: 20px;
      margin: 10px;
  }
  .l2 h2{
      font-size: 1.5vw; 
  }
  /* .l3{
      
  } */
  .l3 h2{
      font-size: 1.5vw;
  }
  .l3 p{
      font-size: 1vw;
      border:2px solid#080908;
      border-radius: 12px;
      padding: 20px;
      margin: 10px;
  }
  .i1{
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 40%;
  }
  .i2 {
      
      font-size: 1vw;
      border:2px solid#080908;
      border-radius: 12px;
      padding: 60px;
      box-shadow: 10px 9px 3px rgba(135, 209, 82, 0.5);
  }
  .o2 h2{
      font-size: 2vw;
      display: flex;
      
      margin-left: 5%;
  }
  .icons{
      display: flex;
      flex-direction: column;
      justify-content:center;
      margin: 10px;
      width: 100%;
      height: auto;
      /* background: #66733B; */
  }
  .a1  {
      display: flex;
      /* background: #080908; */
      
  }
  
  .a1 p {
      display: flex;
      align-items: center;
      /* background: #F1F1F1; */
      margin-left: 1vw;
  }
  
  .a2  {
      display: flex;
      /* background: #080908; */
  }
  .a2 p {
      display: flex;
      align-items: center;
      /* background: #F1F1F1; */
      margin-left: 1vw;
  }
  
  .a3  {
      display: flex;
      /* background: #080908; */
  }
  .a3 p {
      display: flex;
      align-items: center;
      /* background: #F1F1F1; */
      margin-left: 1vw;
  }
  .fa-line{
      font-size: 2.5vw;
      
      display: flex;
      
      
      margin-left: 4.9%;
      
  }
  /* .fa-line p{
      justify-content:space-between;
      
  } */
  .fa-facebook{
      font-size: 2.5vw;
      
      display: flex;
      
      margin-left: 4.9%;
      
  }
  .fa-youtube{
      font-size: 2.5vw;
      
      display: flex;
      
      margin-left: 4.9%;
      
      
  }
  .v2 h2{
      font-size: 2.5vw;
      color: rgb(114, 157, 120);
      margin-left: 80%;
      margin-top: -14px;
      text-shadow:5px 5px 0px #abd9b5;
  }
  .imgg img {
      max-width: 20%; 
      height: auto; 
      border: 2px solid black; 
      border-radius: 5px; 
      margin-left: 18%;
      margin-top: -270px
  }
  .color{
      position: fixed;
      bottom: 0;
      width: 100vw;
      height: 5vw;
      background: linear-gradient(125deg, #66733B, #F1F1F1);
      display: flex;
      left: 0;
  }
  
  