* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

nav {
    width: 100%;
    height: 5vw;
    background: linear-gradient(125deg,#66733B,#F1F1F1);
    text-decoration: none;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.body-1 {
    background: linear-gradient(125deg,#FFF4E5,#FFFFFF);
}

.digit {
    font-size: 2rem;
    margin: 10px;
    padding: 1px;
    display: flex;
   
}


.digit-name {
    
    color: #F1F1F1;
    padding: auto;
    margin-bottom: 10px;
    font-size: 2vw;
}

.digit-items {
    
    margin-left: 50px;
    padding: 20px;
    font-size: 1.3vw;
    
}

.digit-items a {
    color: #F1F1F1;
}

.logo-zero {
    
    padding: 1rem;
    
}

.logo-zero a {
    color: black;  
    font-size: 2vw; 
}
.imgbig {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgbig img {
    width: 500px;
    height: 300px;
    cursor: pointer;
    position: relative;
    border-radius: 20px;
    margin: 10px;
    padding: 20px
   
    

}



.container1 {
    margin: 10px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    width: 40vw;
    font-size: 1.2rem;
    align-items: center;
   
}